<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css"/>
    <link rel="stylesheet" href="custom.css"/>

</head>
<body>
<form id="login_form" class="row g-3">
    <div class="container-sm">
        <div class="row">
            <div class="input-group input-group-md">
                <div class="col-md">
                    <input type="text" class="form-control" id="loginid" placeholder="아이디" name="id">
                    <input type="password" class="form-control" id="loginpwds" name="password" placeholder="비밀번호">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button class="btn btn-primary" type="button" id="login">로그인</button>
                <button class="btn btn-primary" type="button" id="sign">회원가입</button>
            </div>
        </div>
    </div>
</form>


</body>
<script type="text/javascript" src="jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="custom.js"></script>


</html>